@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .displayfont {
    font-size: clamp(8rem, 1.3478rem + 17.7391vw, 18.2rem);
  }
}
